<!DOCTYPE html>


<div class="container">


  <div class="row">
    <div class="col-lg-4 col-lg-offset-4 ">

      <input type="text" class="searchBox" ng-model="itemsIndex.title" placeholder="Search.... " ng-model-options="{updateOn : 'change blur'}">
    </div>
  </div>



  <div class="row">
    <div>
      <div class="col-lg-3 col-lg-offset-1 field-row">
        <label>Type</label>
        <select name="super_type" ng-model="itemsIndex.super_type">
          <option value="" default>Pick your option</option>
          <option value="Hardware" >Hardware</option>
          <option value="Accessory">Accessory</option>
        </select>
      </div>
      <div class="col-lg-3  field-row">
        <label ng-show="itemsIndex.super_type">Sub type</label>
        <select ng-if="itemsIndex.super_type=='Hardware' && itemsIndex.super_type!='Accessory'" ng-model="itemsIndex.sub_type">
          <option value="" default>Select your option</option>
          <option value="Motherboard">Motherboard</option>
          <option value="CPU">CPU</option>
          <option value="GPU">GPU</option>
          <option value="RAM">RAM</option>
          <option value="Power Supply">Power Supply</option>
          <option value="Other">Other</option>
        </select>

        <select ng-if="itemsIndex.super_type=='Accessory' && itemsIndex.super_type!='Hardware'" ng-model="itemsIndex.sub_type">
          <option value="" default>Select your option</option>
          <option value="Monitor">Monitor</option>
          <option value="Mouse">Mouse</option>
          <option value="Cables">Cables</option>
          <option value="VR">VR</option>
          <option value="RGB lighting">RGB lighting</option>
          <option value="Controller">Controller</option>
          <option value="Keyboard">Keyboard</option>
          <option value="Other">Other</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row index-items ">
    <div class="search-again" ng-if="itemsIndex.filtered.length===0">
      <div class="height">
          <h1> Search again</h1>
      </div>

    </div>

    <ul>

      <li class="col-lg-3 col-md-6 col-sm-12 " ng-repeat="item in itemsIndex.filtered" ng-class="{height: itemsIndex.filtered.length < 8}">
        <div class="item">
          <h3 class="title-index">{{ item.title}}</h3>
          <img class="image-index justify-content-center" ng-src="{{ item.image_src }}">
          <h4>{{ item.sub_type}}</h4>
          <h5>{{ item.price}}</h5>
          <button class="button-index" ui-sref="itemsShow({id: item.id})">Lets check it out</button>
        </div>
      </li>

    </ul>
  </div>

</div>
