<!DOCTYPE html>
<div class="row height">
  <div class="row">
    <div class="col-lg-2 col-lg-offset-5 submit-form">

      <form ng-submit="auth.login()" name="auth.authForm">
        <div class="field-row">
          <label>Email</label>
          <input type="text" ng-model="auth.credentials.email" required>

        </div>
        <div class="field-row">
          <label>Password</label>
          <input type="password" ng-model="auth.credentials.password" required>
        </div>
        <button>Login</button>
      </form>
      <button ng-click="auth.authenticate('github')">Login with Github</button>
      <button ng-click="auth.authenticate('facebook')">Login with Facebook</button>
    </div>

  </div>

</div>
